In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import bz2

year = 2003

### Problem 1

In [38]:
def sort_cols(df):
    """A function sort dataframe by columns.
    
    Args:
        df(DataFrame):
    
    Returns:
        DataFrame
    """
    cols = df.columns
    cols = sort(df.cols)
    return df[cols]

def load_data(model_dir, year):
   
    frames = {}
    fil = model_dir + "pandas-frames." + str(year) + ".pickle.bz2"
    #test = pickle.load(bz2.open(fil, 'rb'))
    
    frames.update(pickle.load( bz2.open( fil, "rb" ) ))
    #test = sort_cols(test)
    #return test 
    return frames

### Problem 2

In [10]:
def wins(x, a, b):
    """A function to winsorized numpy array.
    
    Args:
        x(np.array):
        a(float): lower bound
        b(float): upper bound
    
    Returns:
        np.array
    """
    for i in range(len(x)):
        if x[i] < a:
            x[i] = a
        elif x[i] > b:
            x[i] = b
    return x

### Problem 3

In [11]:
def clean_nas(df):
    """A function to replace nan in numeric columns.
    
    Args:
        df(DataFrame):
    
    Returns:
        None
    """
    for col in df.columns:
        if df[col].dtype != 'object':
            df[col] = np.nan_to_num(df[col])

### Problem 4

In [12]:
def density_plot(data, title):
    """A function to produces a kernel density plot.
    
    Args:
        data(vector):
        title(str):
        
    Returns:
        None
    """
    plt.figure(figsize=(12,7))
    plt.title(title)
    sns.kdeplot(data, bw_method=0.5)
    plt.grid(True)
    
    new_data = wins(data, -0.2, 0.2)
    plt.figure(figsize=(12,7))
    plt.title(title)
    sns.kdeplot(data, bw_method=0.5)
    plt.grid(True)

In [39]:

model_dir = 'Data/'
test1 = load_data(model_dir)

KeyError: '20030504'

In [44]:
df = test1['20030507']

In [47]:
df.head()

,ID,1DREVRSL,AERODEF,AIRLINES,ALUMSTEL,APPAREL,AUTO,BANKS,BETA,BEVTOB,...,DailyVolume,CompositeVolume,IssuerMarketCap,Ret,Yield,TotalRisk,SpecRisk,HistBeta,PredBeta,DataDate
0,ID1000,-0.358,0.0,0.0,0.0,0.0,0.0,0.0,-2.659,0.0,...,NaN,NaN,3.192280e+10,0.000000,0.320513,21.784133,14.763761,-0.000131,0.108824,20030507
1,ID1040,-0.144,0.0,0.0,0.0,0.0,0.0,0.0,-2.075,0.0,...,NaN,NaN,1.314773e+11,0.000000,2.475077,34.244772,30.074652,0.222068,0.347481,20030507
2,ID1100,-0.123,0.0,0.0,0.0,0.0,0.0,0.0,-2.659,0.0,...,NaN,NaN,3.398756e+09,0.000000,0.000000,33.477408,24.261379,0.000040,0.092054,20030507
3,ID1113,-0.281,0.0,0.0,0.0,0.0,0.0,0.0,-1.300,0.0,...,NaN,NaN,7.541000e+03,0.000000,NaN,39.822441,32.017470,0.516964,0.781895,20030507
4,ID1114,-1.377,0.0,0.0,0.0,0.0,0.0,0.0,-0.222,0.0,...,1224500.0,1258600.0,1.993378e+10,0.042156,4.821218,42.034042,36.564390,0.926978,0.810028,20030507